<!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
  data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

<aside class="left-sidebar" data-sidebarbg="skin6">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <!-- User Profile-->
              <li class="sidebar-item pt-2">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
                      aria-expanded="false">
                      <i class="far fa-clock" aria-hidden="true"></i>
                      <span class="hide-menu">Dashboard</span>
                  </a>
              </li>
<!--               <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/profile']" routerLinkActive="active-link"
                      aria-expanded="false">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span class="hide-menu">Profile</span>
                  </a>
              </li> -->
              <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/basictable']" routerLinkActive="active-link"
                      aria-expanded="false">
                      <i class="fa fa-question-circle" aria-hidden="true"></i>
                      <span class="hide-menu">FAQ</span>
                  </a>
              </li>
<!--               <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/fontawesome']" routerLinkActive="active-link"
                      aria-expanded="false">
                      <i class="fa fa-font" aria-hidden="true"></i>
                      <span class="hide-menu">Icon</span>
                  </a>
              </li> -->
<!--               <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/mapgoogle']" routerLinkActive="active-link"
                      aria-expanded="false">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                      <span class="hide-menu">Google Map</span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/blank']" routerLinkActive="active-link"
                      aria-expanded="false">
                      <i class="fa fa-columns" aria-hidden="true"></i>
                      <span class="hide-menu">Blank Page</span>
                  </a>
              </li> -->
<!--               <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/error404']" routerLinkActive="router-link-active"
                      aria-expanded="false">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      <span class="hide-menu">Error 404</span>
                  </a>
              </li> -->
<!--               <li class="text-center p-20 upgrade-btn">
                  <a href="https://www.wrappixel.com/templates/ampleadmin/"
                      class="btn d-grid btn-danger text-white" target="_blank">
                      Upgrade to Pro</a>
              </li> -->
          </ul>

      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
</div>
<script src="../../assets/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../../assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/app-style-switcher.js"></script>
<script src="../../assets/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="../../assets/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../../assets/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../../assets/js/custom.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="../../assets/plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="../../assets/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="../../assets/js/pages/dashboards/dashboard1.js"></script>
