<!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Preguntas Frecuentes</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">FAQ</a></li>
                            </ol>
                            <!-- <a href="https://www.wrappixel.com/templates/ampleadmin/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Upgrade
                                to Pro</a> -->
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                  <h1>Sobre Proyecto MIT</h1>
                  <div class="faq">
                    <div class="faq_text">
                      <h2> ¿De dónde proviene el nombre MIT? </h2>
                      <p>MIT hace alusión a las iniciales de los nombres de las asignaturas implicadas en el desarrollo del proyecto; M de Minería de Datos, I de IoT y T de Taller de Integración TIC 1.
                        </p>
                    </div>
                   </div>
                    <div class="faq">
                      <div class="faq_text">
                        <h2> Misión </h2>
                        <p>Utilizando un NodeMCU con sensores se pretende medir y recopilar datos, que serán utilizados para desarrollar técnicas de Minería de Datos
                           (Junto a un Dataset que apoyará esta etapa del proyecto) para poder predecir cuándo se debe regar la plantación o planta
                           y enviar una notificación de alerta para dar aviso de la acción de regar.</p>
                      </div>
                     </div>

                    <div class="faq">
                      <div class="faq_text">
                        <h2> Visión </h2>
                        <p>El proyecto “MIT” busca ser una ayuda en el desafío por mejorar la gestión hídrica,
                          que se requiere en el norte del país, por medio de una solución tecnológica que incorpora TIC, Minería de Datos e IoT.</p>
                      </div>
                    </div>

                    <div class="faq">
                      <div class="faq_text">
                        <h2> Problemática </h2>
                        <p>La agricultura es uno de los sectores más afectados por la sequía a nivel mundial, por lo que la correcta gestión del
                          recurso hídrico es de vital importancia para poder disminuir los efectos de la sequía en la agricultura.
                          En Chile desde el año 2010 se puede obtener un balance hídrico de la disponibilidad natural del agua y la demanda en las
                          distintas regiones del país, desde la Región Metropolitana hacia norte del país la demanda superaba con creces la disponibilidad
                          de este recurso. En esta zona del país se observa un déficit en la disponibilidad de agua comparado con la demanda, que en algunas
                          regiones es cercano al 100%. De no tomarse medidas este déficit se verá agravado para el año 2025, dado que se espera un aumento en la demanda
                          por el recurso en estas regiones que en algunos casos superará el 50%. Por el contrario, desde la Región del Libertador General Bernardo
                          O ́Higgins hacia el sur, se prevé que existirá disponibilidad suficiente para cubrir la demanda.</p>
                      </div>
                    </div>

                    <div class="faq">
                      <div class="faq_text">
                        <h2> Solución </h2>
                        <p>Se contempla desarrollar un sistema que su aplicación estará destinada a dar aviso de riego por medio de una notificación (correo electrónico), el
                          sistema estará conectado a la base de datos que se encuentra en la nube.
                          Donde los datos que ya se cuentan (Dataset B, “Irrigation”), son
                          actualizados por medio del uso de NodeMCU con sensores climáticos,
                          ubicados en el campo de uso que corresponda, captando así nuevos datos
                          para el Dataset.
                          Se aplicará Minería de Datos al Dataset y los resultados
                          serán mostrados en el dashboard por medio de una tabla.
                          Para definir la zona o área de estudio en donde se emplea el proyecto MIT,
                          se tendrán en cuenta dos factores tales como el tipo de Zona y las
                          características físicas del territorio. Las cuales definirán la delimitación del
                          área.
                          En este caso, se seleccionó la zona norte grande como área de estudio,
                          debido al estrés hídrico del sector y sus climas desérticos.</p>
                      </div>
                    </div>

                    <div class="faq">
                      <div class="faq_text">
                        <h2> Uso minería de Datos </h2>
                        <p>Se utilizo la Minería de Datos para explorar la base de datos y aplicar un conjunto de técnicas que consiste en la extracción de información relevante.
                          En este caso se utilizó la metodología CRIP-DM y además se modelaron 3 algoritmos de regresión para predecir cuándo es necesario realizar el riego a una plantación o planta,
                          mejorando así la gestión y eficiencia en el uso del agua.</p>
                      </div>
                    </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../../assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../assets/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../assets/js/custom.js"></script>
